.poke-card{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid darkgray;
    border-radius: 10%;
    align-self: space-around;
    width: 20vw;
    background: lightcyan;
    justify-content: center;
    box-shadow: 1px lightgrey;
  }

  .poke-details{
      display: flex;
      border-bottom: 1px thin black ;
      flex-direction: row;
      justify-content: space-between;
  }